<div class="overview">
    <div class="overview-container">
        <div class="nav-item">Overview</div>
        <div class="welcome-text">Welcome, Nguyễn Văn A</div>
        <div class="quick-actions-grid" [attr.space]="12">
            <div class="section-title">Revisit Schedule</div>
            <div class="medication-container">
                <div class="medication-list">
                    <div class="medication-item">
                        <div class="medication-icon"><i class="fa-solid fa-hospital"></i></div>
                        <div class="medication-info">
                            <span style="font-style: italic"
                                >Lisinopril 10mg</span
                            ><br />
                            <span
                                style="
                                    font-weight: 400;
                                    font-style: italic;
                                    color: rgba(0, 0, 0, 1);
                                "
                            >
                                1 tablet, once daily with breakfast
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-title">Medication Schedule</div>
            <div class="medication-container">
                <div class="medication-list">
                    <div class="medication-item">
                        <div class="medication-icon"><i class="fa-solid fa-kit-medical"></i></div>
                        <div class="medication-info">
                            <span style="font-style: italic"
                                >Lisinopril 10mg</span
                            ><br />
                            <span
                                style="
                                    font-weight: 400;
                                    font-style: italic;
                                    color: rgba(0, 0, 0, 1);
                                "
                            >
                                1 tablet, once daily with breakfast
                            </span>
                        </div>
                    </div>
                    <div class="medication-item">
                        <div class="medication-icon"><i class="fa-solid fa-kit-medical"></i></div>
                        <div class="medication-info">
                            <span style="font-style: italic"
                                >Atorvastatin 20mg</span
                            ><br />
                            <span
                                style="
                                    font-weight: 400;
                                    font-style: italic;
                                    color: rgba(0, 0, 0, 1);
                                "
                            >
                                1 tablet, once daily before bedtime
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
