.overview {
    background-color: #fff;
    padding: 55px 80px 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-container {
    width: 800px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-item {
    color: #111827;
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.welcome-text {
    color: #0a0a0a;
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    margin-top: 39px;
}

.section-title {
    color: #0a0a0a;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    margin-top: 40px;
}

.section-title:first-of-type {
    margin-top: 69px;
}

.quick-actions-grid {
    margin-top: 27px;
}

.quick-actions-row {
    display: flex;
    gap: 20px;
}

.medication-container {
    margin-top: 38px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.medication-list {
    display: flex;
    flex-direction: column;
}

.medication-item {
    display: flex;
    gap: 12px;
}

.medication-item:not(:first-child) {
    margin-top: 12px;
}

.medication-icon {
    border-radius: 12px;
    background-color: rgba(99, 74, 255, 0.05);
    padding: 12px;
    font-size: 20px;
    color: #634aff;
    width: 44px;
    height: 44px;
}

.medication-info {
    color: #000;
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 24px;
    margin: auto 0;
}

/* Media Queries */
@media (max-width: 991px) {
    .overview {
        padding: 55px 20px 100px;
    }

    .section-title:first-of-type {
        margin-top: 40px;
    }

    .quick-actions-row {
        flex-direction: column;
        gap: 0;
    }

    .medication-container {
        margin-right: 3px;
    }
}
