<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <div class="nav-item">
                    <img
                    src="../../../assets/images/healthcare.png"
                    class="navbar-logo-img"
                />
                </div>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home/profile"
                        >Profile</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home/medical-record"
                        >Records</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home/connect"
                        >Connections</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home/family"
                        >Family</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home/document"
                        >Documents</a
                    >
                </li>
                <li class="nav-item" *ngIf="canViewDoctorApp">
                    <a class="nav-link" routerLink="/doctor"
                        >Doctor App</a
                    >
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="navbar-placeholder"></div>
