<form style="max-width: 350px; margin: 0 auto">
    <input type="hidden" name="token" th:value="${token}" />
    <div class="border border-secondary rounded p-3">
        <div>
            <!-- Password input -->
            <div class="position-relative">
                <input
                    type="{{ showPassword ? 'text' : 'password' }}"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="Enter your new password"
                    required
                    autofocus
                    [(ngModel)]="data.password"
                />
                <button
                    type="button"
                    class="btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y"
                    (click)="togglePassword('password')"
                    tabindex="-1"
                >
                    <i
                        class="fa"
                        [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                    ></i>
                </button>
            </div>

            <!-- Confirm Password input -->
            <div class="position-relative mt-3">
                <input
                    name="confirmPassword"
                    type="{{ showConfirmPassword ? 'text' : 'password' }}"
                    class="form-control"
                    placeholder="Confirm your new password"
                    required
                    [(ngModel)]="data.confirmPassword"
                />
                <button
                    type="button"
                    class="btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y"
                    (click)="togglePassword('confirmPassword')"
                    tabindex="-1"
                >
                    <i
                        class="fa"
                        [ngClass]="
                            showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'
                        "
                    ></i>
                </button>
            </div>

            <!-- Submit button -->
            <p class="text-center">
                <input
                    type="submit"
                    value="Change Password"
                    class="btn btn-primary"
                    (click)="onSubmit()"
                />
            </p>
        </div>
    </div>
</form>
