<div class="sidebar">
    <ul class="nav-list">
        <li>
            <a routerLink="/doctor/medical"
                ><i class="fas fa-stethoscope"></i> Medical Checkup</a
            >
        </li>
        <li>
            <a routerLink="/doctor/allergy"
                ><i class="fas fa-allergies"></i> Allergy</a
            >
        </li>
        <li>
            <a routerLink="/doctor/immunization"
                ><i class="fas fa-syringe"></i> Immunization</a
            >
        </li>
        <li>
            <a routerLink="/doctor/test"><i class="fas fa-vial"></i> Test</a>
        </li>
    </ul>
</div>
