<div class="vertical-tabs-container">
    <mat-nav-list class="tab-list">
        <a
            mat-list-item
            *ngFor="let tab of tabs; let i = index"
            (click)="selectedTabIndex = i"
            [class.active]="selectedTabIndex === i"
        >
            {{ tab.label }}
        </a>
    </mat-nav-list>

    <div class="tab-content">
        <ng-container [ngSwitch]="selectedTabIndex">
            <div *ngSwitchCase="0">
                <h2>Content of Tab 1</h2>
                <p>This is the content for the first tab.</p>
            </div>
            <div *ngSwitchCase="1">
                <h2>Content of Tab 2</h2>
                <p>This is the content for the second tab.</p>
            </div>
            <div *ngSwitchCase="2">
                <h2>Content of Tab 3</h2>
                <p>This is the content for the third tab.</p>
            </div>
        </ng-container>
    </div>
</div>
